@using SeratGraphic.Models.Account
@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<form method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All"></div>
    <p> PhoneNumber : <input type="number" asp-for="PhoneNumber" /></p>
    <p> Password : <input type="password" asp-for="Password" /></p>
    <p><input type="submit" value="Login" /></p>
</form>
