@using SeratGraphic.Models.Account
@model LoginModel
@{
    ViewData["Title"] = "ورود - صراط گرافیک";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container default-page">
	<div class="title-breadcumbs">
		<div class="container">
			<div class="breadcrumb-container">
				<div class="breadcrumbs"><a href="/">صراط گرافیک</a><span
			class="separator">/</span><span> ورود به صراط گرافیک</span></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="page-content default-page">
				<header class="entry-header">
                    <h2 class="entry-title">ورود به صراط گرافیک</h2>
				</header>
				<article id="post-14" class="post-14 page type-page status-publish hentry">
					<div class="entry-content">
						<div class="woocommerce">
							<div class="woocommerce-notices-wrapper"></div>

							
                            <form method="post" class="woocommerce-form woocommerce-form-login login">
                                @Html.AntiForgeryToken()
                                @if (ViewData.ModelState.ErrorCount > 0)
                                {
                                    <div class="error alert alert-danger" asp-validation-summary="All"></div>
                                }
                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                    <label for="password">
                                        شماره همراه خود را وارد نمایید :  <span class="required">*</span>
                                    </label>
                                    <input class="woocommerce-Input woocommerce-Input--text input-text"
                                           required type="number" asp-for="PhoneNumber" id="PhoneNumber"
                                           autocomplete="current-password">
                                </p>
                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                    <label for="username">
                                        گذر واژه خود را وارد نمایید :  <span class="required">*</span>
                                    </label>
                                    <input type="password"
                                           required class="woocommerce-Input woocommerce-Input--text input-text"
                                           asp-for="Password" id="Password">
                                </p>

                                <p><input class="button btn" style="background: #80bb01;color:#fff;width:200px" type="submit" value="ورود" /></p>
                                <p class="woocommerce-LostPassword lost_password margin-0">
                                    <a href="/">
                                        گذرواژه
                                        خود را فراموش کرده اید؟
                                    </a>
                                </p>
                                <p class="woocommerce-LostPassword lost_password margin-0">
                                    <a href="/">
                                        آیا حسابی در صراط گرافیک ندارید؟

                                    </a>
                                </p>
                            </form>		
						</div>
					</div>
				</article> 
					&#65279;
				<div id="comments" class="comments-area"></div><!-- #comments .comments-area -->
				</div>
			</div>
		</div>
	</div>	
</div>
