.vc_custom_1548314967493 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    background-color: #0e7346 !important;
}

.vc_custom_1547998425159 {
    margin-bottom: 0px !important;
}

.header-container.rs-active.header-1 {
    margin-bottom:0px !important;
}