
@{
    ViewData["Title"] = "ناحیه کاربری - صراط گرافیک";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="title-breadcumbs">
	<div class="container">
		<div class="breadcrumb-container">
            <div class="breadcrumbs"><a href="/">صراط گرافیک</a><span
            class="separator">/</span><span>ناحیه کاربری</span></div>
            </div>
	</div>
</div>
<div class="admin">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="admin__item">
                    <div class="admin__item__header">
                        <div class="fa fa-snowflake-o admin__item__header__icon"></div>
                        <div class="admin__item__header__title">مدیریت محصولات </div>
                    </div>
                    <a href="#" class="admin__item__link">اضافه نمودن محصول جدید</a>
                    <a href="#" class="admin__item__link">مدیریت محصولات</a>
                </div>
            </div>        
            <div class="col-md-3 col-sm-6">
                <div class="admin__item">
                    <div class="admin__item__header">
                        <div class="fa fa-snowflake-o admin__item__header__icon"></div>
                        <div class="admin__item__header__title">مدیریت محصولات </div>
                    </div>
                    <a href="#" class="admin__item__link">اضافه نمودن محصول جدید</a>
                    <a href="#" class="admin__item__link">مدیریت محصولات</a>
                </div>
            </div>        
            <div class="col-md-3 col-sm-6">
                <div class="admin__item">
                    <div class="admin__item__header">
                        <div class="fa fa-snowflake-o admin__item__header__icon"></div>
                        <div class="admin__item__header__title">مدیریت محصولات </div>
                    </div>
                    <a href="#" class="admin__item__link">اضافه نمودن محصول جدید</a>
                    <a href="#" class="admin__item__link">مدیریت محصولات</a>
                </div>
            </div>        
            <div class="col-md-3 col-sm-6">
                <div class="admin__item">
                    <div class="admin__item__header">
                        <div class="fa fa-snowflake-o admin__item__header__icon"></div>
                        <div class="admin__item__header__title">مدیریت محصولات </div>
                    </div>
                    <a href="#" class="admin__item__link">اضافه نمودن محصول جدید</a>
                    <a href="#" class="admin__item__link">مدیریت محصولات</a>
                </div>
            </div>        
            <div class="col-md-3 col-sm-6">
                <div class="admin__item">
                    <div class="admin__item__header">
                        <div class="fa fa-snowflake-o admin__item__header__icon"></div>
                        <div class="admin__item__header__title">مدیریت محصولات </div>
                    </div>
                    <a href="#" class="admin__item__link">اضافه نمودن محصول جدید</a>
                    <a href="#" class="admin__item__link">مدیریت محصولات</a>
                </div>
            </div>        
            <div class="col-md-3 col-sm-6">
                <div class="admin__item">
                    <div class="admin__item__header">
                        <div class="fa fa-snowflake-o admin__item__header__icon"></div>
                        <div class="admin__item__header__title">مدیریت محصولات </div>
                    </div>
                    <a href="#" class="admin__item__link">اضافه نمودن محصول جدید</a>
                    <a href="#" class="admin__item__link">مدیریت محصولات</a>
                </div>
            </div>        
            <div class="col-md-3 col-sm-6">
                <div class="admin__item">
                    <div class="admin__item__header">
                        <div class="fa fa-snowflake-o admin__item__header__icon"></div>
                        <div class="admin__item__header__title">مدیریت محصولات </div>
                    </div>
                    <a href="#" class="admin__item__link">اضافه نمودن محصول جدید</a>
                    <a href="#" class="admin__item__link">مدیریت محصولات</a>
                </div>
            </div>        
        </div>
    </div>
</div>

